/* src/css/CreateService.css */
.create-service-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
      "image descripcion"
      "nombre categoria"
      "precio modalidad"
      ". button";
  }
  
  @media (max-width: 768px) {
    .form-grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "image"
        "descripcion"
        "nombre"
        "precio"
        "categoria"
        "modalidad"
        "button";
    }
  }
  
  .image-upload {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border: 2px solid #ffd700;
    border-radius: 15px;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .image-upload label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .image-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color: #aaa;
  }
  
  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #imageInput {
    display: none;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .description-group {
    grid-area: descripcion;
  }
  
  textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    resize: none;
    height: 120px;
  }
  
  input[type="text"],
  select {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  textarea:focus,
  select:focus {
    border-color: #999;
    outline: none;
  }
  
  .error-text {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .submit-button {
    grid-area: button;
    padding: 15px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background 0.3s ease;
    justify-self: end;
    align-self: center;
  }
  
  .submit-button:hover {
    background: #45a049;
  }
  
