.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

.navbar-logo-img {
  height: 55px; /* Ajusta la altura del logo */
  width: auto;  /* Mantiene la proporción original */
  object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  position: relative;
  padding: 0 15px; /* Añade espacio entre los elementos */
  cursor: pointer; /* Añade un cursor pointer para indicar que es clicable */
}

.navbar-item span {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer; /* Asegura que haya un cursor pointer */
}

.navbar-item span:hover {
  color: #008000;
  border-bottom: 2px solid #008000;
}

.navbar-buttons {
  display: flex;
}

.login-btn, .signup-btn {
  margin-left: 10px;
  background-color: #008000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn {
  background-color: #004080; /* Color diferente para Signup */
}

.login-btn:hover, .signup-btn:hover {
  background-color: #006600; /* Color de hover */
}
