.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

.navbar-logo a {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  position: relative;
}

.navbar-item a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #008000;
  border-bottom: 2px solid #008000;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #555;
  z-index: 1000;
}

.navbar-item:hover .dropdown {
  display: block;
}

.dropdown a {
  color: #000;
  padding: 10px;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #f0f0f0;
}

.navbar-buttons {
  display: flex;
}

.login-btn, .signup-btn {
  margin-left: 10px;
  background-color: #008000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn {
  background-color: #004080; /* Color diferente para Signup */
}

.login-btn:hover, .signup-btn:hover {
  background-color: #006600; /* Color de hover */
}
